body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E6E6FA; /* Morado claro */
    text-align: center;
}

header {
    background-color: #6A0DAD; /* Morado oscuro */
    color: white;
    padding: 20px 0;
    font-size: 24px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container {
    width: 80%;
    max-width: 900px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

